<html>
<body>

<div>
  <!-- start_form_tag -->
  <%= form_tag :action => "modify_entry" do %>
      <table border='0' cellspacing='0' cellpadding='5'>
        <tr>
          <caption>
            Modify Directory Entry
          </caption>
        </tr>
      <!--
      <tr>
        <td>First Name*</td>
        <td><%= text_field_tag(:gn) %></td>
      </tr>
      -->

        <tr style="display:none;">
          <td>Username</td>
          <td><%= text_field_tag(:cn,@cn,:disabled=>false) %></td>
        </tr>
        <tr>
          <td>New Password(at least 5 digits)*</td>
          <td><%= password_field_tag(:userPassword) %></td>
        </tr>

        <tr>
          <td><input type="submit" value="Submit"></td>
        </tr>

      </table>
  <% end %>
</div>
<%= link_to 'Back', addressbooks_path %>
</body>
</html>